@font-face {

    font-family: poppins-bold;
    src: url("../fonts/poppins/Poppins-Bold.ttf");
}

@font-face {
    font-family: poppins-std;
    src: url("../fonts/poppins/Poppins-Regular.ttf");
}


body {
  margin: 0;
  padding: 0;
  background-image: url("./img/fondo.jpg");
  font-family: poppins-std, sans-serif;
}

.containerLogin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 25px 10px rgba(44, 35, 35, 0.2);
  text-align: center;
  width: 380px;
  height: 380px;
}

.containerLogin h1 {
  font-size: 25px;
  margin-bottom: 20px;
  color: #b35f45;
  background-color: transparent;
  font-weight: bold;
}

.containerLogin input[type="email"],
.containerLogin input[type="password"] {
  border: none;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  width: 100%;
  background: transparent;
  font-size: 11px;
  color: gray;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}
.containerLogin input[type="email"]:focus,
.containerLogin input[type="password"]:focus {
  border-bottom: 1px solid #b35f45;
}
.containerLogin button[type="submit"] {
  background: #b35f45;
  border: none;
  padding: 10px 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.containerLogin button[type="submit"]:hover {
  background: #a64a3e;
}
.containerLogin p {
  color: #888;
  font-size: 11px;
  margin-top: 20px;
}

.logo {
  position: absolute;
  top: 30px;
  left: 30px;
  height: 100px;
  width: 200px;
  font-size: 90px;
  color: transparent;
  text-shadow: 4px 4px transparent;
  background-image: url(img/logo.png);
}
