.imgUser {
    width: 2.5em;
    height: 2.5em;
    margin-right: 1.3em;
    background: none;
}

.textNameUser {
    width: 9em;
}

.imgUserLogout {
    width: 2.5em;
    height: 2.5em;
    margin-right: 1.3em;
}

.logoutMove {
    right: -.1em;
    top: .5em;
    position: absolute;
}

.imgLogo {
    width: 2em;
    height: 1.5em;
    margin-right: .5em;
}